*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
} 

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "MuseoSans", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	color: #17171a;
	margin: 0;
	position: relative;
	background-color: #FAFBFD;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 200px;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}

.descr-title {
	font-size: 18px;
	line-height: 22px;
	opacity: 0.6;
}
.title-section {
	font-size: 40px;
	line-height: 40px;
	font-weight: 900;
	text-transform: lowercase;
}
.title-wrap .title-section {
	padding-top: 6px;
	padding-bottom: 10px;
}
.title-wrap_section {
	padding-top: 72px;
	padding-bottom: 45px;
}
.slider-billbord__image {
	width: 945px;
	height: 620px;
	float: right;
}
.slider-billbord__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-billbord__title {
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 26px;
	margin-bottom: 30px;
	font-weight: 900;
	position: relative;
}
.slider-billbord__title::before {
	position: absolute;
	display: block;
	content: " ";
	width: 50px;
	height: 2px;
	bottom: 0;
	left: 0;
	background: #17171A;
	opacity: 0.8;
}
.item-feature {
	padding: 25px 20px;	
	padding-bottom: 23px;
	margin-bottom: 4px;
	line-height: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
}
.item-feature strong {
	font-weight: normal;
}
.item-feature p {
	opacity: 0.6;
}
.btn-main {
	width: 270px;
	max-width: 100%;
	padding: 0 15px;
	background: #FAFBFD;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3B4658;
	font-weight: 900;
	border: 2px solid #3B4658;
	height: 64px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	font-family: "MuseoSans";
}
.btn-main:hover {
	background-color: #3B4658;
	color: #fff;
}
.btn-main_page {
	color: #fff;
	background-color: #3b4658;
}
.btn-main_page:hover {
	color: #3b4658;
	background-color: #FAFBFD;
}
.slider-billbord__buttons {
	margin: 0 -15px;
	margin-top: 46px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.slider-billbord__buttons .btn-main {
	margin: 0 15px;
	flex: 1;
	width: initial;
}
.slick-arrow {
	width: 64px;
	height: 64px;
	color: #3b4658 !important;
	font-size: 18px;
	background: #FAFBFD;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: none;
}
.slick-arrow::before {
	display: none;
}
.slick-arrow.slick-disabled i {
	opacity: 0.4;
}
.slider-billbord .slick-arrow {
	right: 615px;
	bottom: 0;
	border-right: 1px rgba(23, 23, 26, 0.04) solid;
	border-bottom: 1px rgba(23, 23, 26, 0.04) solid;
}
.slick-arrow:hover {
	background-color: #f5f7fa;
}
.slider-billbord .slick-prev {
	bottom: 64px;
}
.slider-billbord {
	width: 1562px;
	float: right;
}
.slider-billbord__item {
	display: flex;
	justify-content: flex-end;
}
.slider-billbord__item .container {
	margin: 0;
}
.container {
	clear: both;
}
.news .title-wrap .title-section + .descr-title {
	margin-left: 335px;
}
.slider-news {
	width: 1600px;
	margin: 0 -25px;
}
.item-news {
	width: 370px;
	margin: 0 25px;
	max-width: 100%;
	display: block;
	color: #17171A;
	position: relative;
	transition: all 0.3s;
}
.item-news__data {
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 16px;
	display: block;
	transition: all 0.3s;
	opacity: 0.6;
}
.item-news__name {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 21px;
	font-weight: 900;
	display: block;
	transition: all 0.3s;
}
.item-news__text {
	font-size: 16px;
	line-height: 23px;
	opacity: 0.8;
	display: block;
	transition: all 0.3s;
}
.item-news__content {
	padding: 37px 30px;
	min-height: 250px;
	display: block;
	background-color: #fff;
	transition: all 0.3s;
}
.item-news__image {
	height: 210px;
	overflow: hidden;
	display: block;
	transition: all 0.3s;
}
.item-news__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-news_big {
	width: 572px;
}
.item-news_big .item-news__image {
	height: 460px;
}
.item-news_big .item-news__content {
	max-width: 370px;
	position: absolute;
	bottom: 0;
	right: 0px;
}
.item-news:hover  {
	box-shadow: 0 0px 10px rgb(23 23 26 / 10%);
}
.news {
	padding-bottom: 100px;
}
.lines-wrap__item {
	left: 14.3%;
	top: 0;
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: #17171A;
}
.lines-wrap {
	opacity: 0.04;
}
.lines-wrap__item:nth-child(2) {
	left: 28.5%;
}
.lines-wrap__item:nth-child(3) {
	left: 42.8%;
}
.lines-wrap__item:nth-child(4) {
	left: 57.1%;
}
.lines-wrap__item:nth-child(5) {
	left: 71.4%;
}
.lines-wrap__item:nth-child(6) {
	left: 85%;
}
.title-wrap .title-section + .descr-title {
	margin-left: 240px;
}
.news__button {
	padding-top: 30px;
	text-align: right;
}
.logo-wrap {
	display: flex;
	align-items: center;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 137px;
	height: auto;
}
.logo-descr {
	margin-left: 33px;
	font-size: 14px;
	line-height: 17px;
	max-width: 213px;
	opacity: 0.8;
}
.header__top {
	padding-top: 20px;
	padding-bottom: 20px;
	transition: all 0.3s;
} 
.header {
	background-color: #fff;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
}
.header.fixed .header__top {
	padding-top: 10px;
	padding-bottom: 10px;
}

.header-contact__value {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 5px;
	font-weight: 700;
}
.header-contact p {
	font-size: 14px;
	line-height: 17px;
	opacity: 0.8;
}
.header-contact__value a {
	color: #17171A;
}
.header-contact p a {
	color: #17171A;
	border-bottom: 1px #17171A solid;
	transition: all 0.3s;
}
.header-contact p a:hover {
	border-color: transparent;
}
.header-contact_right {
	text-align: right;
}
.header .btn-main {
	width: 240px;
	max-width: 100%;
}
.header__right {
	text-align: right;
}
.nav {
	background-color: #3B4658;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu li {
	flex: 1;
}
.menu li a {
	height: 80px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	text-align: center;
	color: #fff;
	transition: all 0.3s;
}
.menu li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.menu li:last-child a {
	border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.row_solition > div {
	margin-bottom: 30px;
}
.solition .title-wrap .title-section + .descr-title {
	margin-left: 329px;
}
.item-solition {
	padding: 65px 30px;
	padding-bottom: 50px;
	min-height: 320px;
	background-color: #3b4658;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: all 0.3s;
}
.item-solition:hover {
	transform: translateY(-10px);
}
.item-solition__name {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 30px;
	max-width: 570px;
	font-weight: 900;
}
.item-solition p {
	line-height: 24px;
	max-width: 600px;
	opacity: 0.8;
}
.link-block {
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.1em;
	padding-bottom: 3px;
	font-weight: 900;
	border-bottom: 2px #fff solid;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	transition: all 0.3s;
}
.link-block:hover {
	border-color: transparent;
}
.item-solition .link-block {
	margin-top: 30px;
}
.item-solition_big {
	background-image: url(../img/bg_solution.jpg);
}
.team {
	padding-bottom: 86px;
	background-color: #3B4658;
	background-image: url(../img/bg_team.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.team .title-wrap {
	color: #fff;
}
.team .title-wrap .title-section + .descr-title {
	margin-left: 352px;
}
.item-team {
	padding: 30px;
	background-color: #fff;
	margin: 0 15px;
	transition: all 0.3s;
	margin-top: 10px;
}
.item-team:hover {
	transform: translateY(-10px);
}
.item-team__image {
	height: 250px;
	margin-bottom: 35px;
	background: #FAFBFD;
}
.item-team__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-team__name {
	font-size: 24px;
	line-height: 29px;
	padding-bottom: 15px;
	color: #2E2E33;
	font-weight: 900;
}
.item-team__descr {
	color: #2E2E33;
	opacity: 0.8;
}
.slider-team {
	margin: 0 -15px;
	margin-top: -10px;
}
.team__bottom {
	padding-top: 30px;
	text-align: right;
}
.text-bg {
	font-size: 160px;
	line-height: 100%;
	font-weight: 900;
	text-transform: lowercase;
	color: #FFFFFF;
	opacity: 0.05;
	white-space: nowrap;
	position: absolute;
}
.team .container {
	position: relative;
}
.text-bg_1 {
	top: 265px;
	margin-right: -209px;
	right: 100%;
}
.text-bg_2 {
	left: 195px;
	bottom: 43px;
}
.reviews .title-wrap .title-section + .descr-title {
	margin-left: 285px;
}
.slider-reviews {
	margin: 0 -25px;
	margin-top: -10px;
}
.item-review {
	padding: 30px;
	min-height: 300px;
	margin: 0 25px;
	margin-top: 10px;
	transition: all 0.3s;
	background-color: #fff;
}
.item-review:hover {
	transform: translateY(-10px);
}
.item-review__head {
	margin-bottom: 28px;
	display: flex;
	align-items: center;
	position: relative;
}
.item-review__image {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	flex: none;
	position: relative;
}
.item-review__head::after {
	position: absolute;
	display: block;
	content: " ";
	width: 21px;
	height: 20px;
	top: 0;
	right: 0;
	background-image: url(../img/quotes.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.item-review__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-review__date {
	font-size: 12px;
	opacity: 0.6;
	margin-bottom: 10px;
}
.item-review__name {
	font-size: 24px;
	font-weight: 900;
}
.item-review p {
	line-height: 24px;
	opacity: 0.8;
}
.arrows_right .slick-arrow {
	bottom: 0;
	right: 25px;
	background-color: #fff;
}
.arrows_right .slick-prev {
	right: 95px;
}
.arrows_right {
	padding-bottom: 91px;
}
.arrows_right .slick-arrow:hover {
	background-color: #fafbfd;
}
.reviews .container {
	position: relative;
}
.text-bg_3 {
	color: #17171A;
	opacity: 0.03;
	left: 370px;
	bottom: 0;
}
.footer {
	padding-top: 78px;
	background-color: #3B4658;
	color: #fff;
}
.footer-nav a,
.title-footer {
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 33px;
	font-weight: 900;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
	transition: all 0.3s;
}
.footer-nav a:hover {
	opacity: 0.8;
}
.footer-list li {
	margin-bottom: 23px;
}
.footer-list li a {
	display: inline-block;
	color: #fff;
	opacity: 0.8;
	transition: all 0.3s;
}
.footer-list li a:hover {
	opacity: 1;
}
.footer__right {
	text-align: right;
}
.footer p {
	line-height: 24px;
	opacity: 0.8;
}
.footer p a {
	color: #fff;
}
.footer__bottom {
	padding: 15px 0;
	font-size: 14px;
	margin-top: 50px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.create {
	letter-spacing: 0.33px;
	color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}
.create img {
	max-width: 60px;
	margin-left: 15px;
}
.btn_top {
	font-size: 24px;
	position: relative;
	color: #303d49 !important;
	width: 42px;
	height: 42px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	z-index: 300;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background-color: rgba(255, 255, 255, 0.6);
}
.align_right {
	text-align: right;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #3B4658;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #3B4658;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 17px;
	width: 29px;
	height: 2px;
	display: block;
	background-color: #3B4658;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
} 
.sandwich.active .sw-footer {
	top:8px;
	width: 30px;
	transform: rotate(-45deg);
}

/*End Sandwich*/
.phone-mob {
	display: none;
}
.nav__mob {
	display: none;
}
.title-footer i,
.title-footer_mob {
	display: none;
}

/*complex*/
.complex {
	padding-bottom: 90px;
	background-color: rgba(59, 70, 88, 0.05);
}
.item-complex__value,
.complex-aparment {
	width: 50px;
	height: 35px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #BAA64B;
	transition: all 0.3s;
}
.complex-aparment {
	cursor: pointer;
	position: relative;
}
.complex-aparment::after {
	position: absolute;
	display: block;
	content: " ";
	width: 16px;
	height: 40px;
	top: 0;
	right: -4px;
	bottom: 0;
	margin: auto;
	opacity: 0;
	background-image: url(../img/arrow_complex.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	transition: all 0.3s;
	opacity: 0;
}
.item-complex__value,
.item-complex__apartment {
	margin: 7px;
}
.item-complex__value {
	color: rgba(23, 23, 26, 0.4);
	background-color: transparent;
}
.item-complex__line {
	display: flex;
	align-items: center;
}
.sold .complex-aparment {
	color: rgba(23, 23, 26, 0.8);
	background-color: rgba(59, 70, 88, 0.1);
}
.booked .complex-aparment {
	background-color: rgba(59, 70, 88, 1);
}
.complex-info__name {
	color: #17171A;
	padding-bottom: 13px;
	opacity: 0.8;
}
.complex-info__price {
	font-size: 24px;
	line-height: 24px;
	font-weight: 900;
	color: #3B4658;
}
.complex-info {
	width: 340px;
	height: 340px;
	padding: 30px;
	top: 50%;
	margin-left: 54px;
	transform: translateY(-50%);
	position: absolute;
	background-color: #fff;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.complex-info img {
	width: 150px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 35px;
}
.item-complex {
	margin: 0 20px;
	margin-top: 100px;
	margin-bottom: 50px;
	position: relative;
}
.item-complex__apartment:hover .complex-aparment::after {
	opacity: 1;
}
.item-complex__apartment:hover .complex-info {
	visibility: visible;
	opacity: 1;
}
.slider-complex {
	width: 1600px;
	margin: 0 -25px;
}
.slider-complex .slick-arrow {
	right: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
	left: auto;
}
.slider-complex .slick-prev {
	top: -40px;
}
.slider-complex .slick-next {
	bottom: -91px;
}
.complex-bottom {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.complex-bottom__item {
	margin-left: 93px;
	display: flex;
	align-items: center;
}
.complex-bottom__item:first-child {
	margin-left: 67px;
}
.complex-bottom__item .complex-aparment {
	cursor: inherit;
}
.complex-bottom__item p {
	margin-left: 19px;
	color: #17171A;
	opacity: 0.8;
}
.complex .title-wrap_section {
	padding-bottom: 0;
	margin-bottom: -30px;
}
.video {
	height: 480px;
	background-image: url(../img/video_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.complex-video {
	padding-bottom: 30px;
}
.icon-video {
	width: 124px;
	height: 124px;
	border: 1px solid rgba(186, 166, 75, 0.4);
	border-radius: 50%;
	display: flex;
	position: relative;
}
.icon-video__inner::before,
.icon-video::before {
	position: absolute;
	display: block;
	content: " ";
	width: 130px;
	height: 130px;
	top: 0;
	left: -4px;
	right: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/external_circle.svg);
	background-repeat: no-repeat;
	background-position: center right;
	-webkit-animation: loader-1 3.5s infinite linear;
	animation: loader-1 3.5s infinite linear;
}
.icon-video__inner::before {
	width: 70px;
	height: 70px;
	background-position: center bottom;
	background-image: url(../img/inner_circle.svg);
}
.icon-video__inner {
	display: flex;
	align-items: center;
	justify-content: center;
}
@keyframes loader-1 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.video-btn {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 124px;
	height: 124px;
	display: inline-block;
	position: absolute;
}
.icon-video__inner {
	width: 64px;
	height: 64px;
	border: 1px solid rgba(186, 166, 75, 0.4);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.video-btn__text {
	top: 100%;
	left: 50%;
	margin-top: 28px;
	font-weight: 300;
	transform: translateX(-50%);
	white-space: nowrap;
	color: #fff;
	position: absolute;
}
.item-doc__icon {
	width: 120px;
	height: 160px;
	margin-right: 20px;
	display: inline-block;
	background-image: url(../img/bg_doc.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	z-index: 1;
	flex: none;
}
.item-doc__icon::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/bg_doc2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	opacity: 0;
	z-index: -1;
	transition: all 0.3s;
}
.item-doc {
	margin-left: 39px;
	width: 370px;
	flex:none;
	display: inline-flex;
	align-items: center;
}
.item-doc:first-child {
	margin-left: 0;
}
.item-doc:hover .item-doc__icon::before {
	opacity: 1;
}
.item-doc:hover .item-doc__name {
	border-color: #17171A;
}
.item-doc__name {
	line-height: 100%;
	border-bottom: 1px transparent solid;
	color: #17171A;
	transition: all 0.3s;
}
.item-doc:hover .item-doc__name {
	border-color: #17171A;
}
.item-doc__date {
	margin-top: 25px;
	font-size: 14px;
	color: #17171A;
	display: block;
	width: 100%;
	opacity: 0.6;
}
.item-doc__format {
	padding-top: 50px;
	font-size: 30px;
	display: block;
	padding-left: 15px;
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
}
.item-doc__icon::after {
	position: absolute;
	display: block;
	content: " ";
	width: 24px;
	height: 16px;
	bottom: 20px;
	right: 20px;
	z-index: 2;
	background-image: url(../img/ic_doc.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.documents {
	padding-bottom: 95px;
}
.list-docs__line {
	padding-bottom: 40px;
	display: flex;
}
.jspHorizontalBar {
	height: 5px;
	background-color: transparent;
}
.jspTrack {
	background: transparent;
}
.jspDrag {
	height: 5px;
	background: #3B4658;
}
.jspHorizontalBar .jspTrack::after {
	position: absolute;
	display: block;
	content: " ";
	height: 1px;
	width: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	background: rgba(59, 70, 88, 0.2);
}
.billbord_complex .slider-billbord__image {
	float: none;
}
.billbord_complex .slider-billbord {
	float: none;
}
.billbord_complex .slider-billbord__item {
	justify-content: flex-start;
}
.list-billbord {
	font-size: 18px;
}
.list-billbord li {
	margin-bottom: 20px;
}
.billbord_complex .btn-main {
	margin-top: 40px;
}
.billbord_complex .title-wrap {
	padding-bottom: 50px;
}
.billbord_complex .title-wrap .title-section + .descr-title {
	margin-left: 418px;
}
.billbord_complex .slider-billbord .slick-arrow {
	right: 883px;
	border-left: 1px rgba(23, 23, 26, 0.04) solid;
}
.item-solition_big {
	background-image: url(../img/bg_solution2.jpg);
}
.item-location {
	margin-top: 47px;
	max-width: 463px;
}
.item-location__icon {
	margin-bottom: 15px;
}
.item-location__icon img {
	max-width: 56px;
	max-width: 56px;
}
.item-location__name {
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 20px;
	font-weight: 900;
}
.item-location p {
	line-height: 25px;
	opacity: 0.8;
}
.location {
	padding-bottom: 100px;
}
#map {
	width: 945px;
	height: 720px;
	background-color: #ccc;
}
.location .title-wrap .title-section + .descr-title {
	margin-left: 330px;
}
.complex .title-wrap .title-section + .descr-title {
	margin-left: 423px;
}
.complex-video .title-wrap .title-section + .descr-title {
	margin-left: 440px;
}
.documents .title-wrap .title-section + .descr-title {
	margin-left: 307px;
}

.about {
	padding-bottom: 100px;
}
.about__image img {
	max-width: 100%;
}
.title-middle {
	font-size: 24px;
	line-height: 29px;
	padding-bottom: 22px;
	margin-bottom: 27px;
	font-weight: 900;
	position: relative;
}
.title-middle::before {
	position: absolute;
	display: block;
	content: " ";
	width: 50px;
	height: 2px;
	bottom: 0;
	left: 0;
	background: #17171A;
	opacity: 0.8;
}
.about p {
	line-height: 25px;
	margin-bottom: 20px;
	opacity: 0.8;
}
.row_about {
	margin-top: 100px;
}
.block-about {
	padding: 15px 30px;
	padding-top: 65px;
	min-height: 300px;
	background-color: #fff;
	position: relative;
	z-index: 2;
}
.block-about p {
	margin-bottom: 0;
}
.col_pull_2 {
	left: -16.6%;
}
.col_push_2 {
	left: 16.6%;
}
.row_about > div:first-child .image-about img {
	float: right;
}
.reviews_bottom {
	padding-bottom: 80px;
}
.item-team {
	position: relative;
}
.item-team::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: #3B4658;
	opacity: 0.8;
	z-index: 2;
	transition: all 0.3s;
}
.item-team:hover::after {
	opacity: 0;
}
.item-team:hover {
	transform: none !important;
}
.about .container {
	position: relative;
}
.text-bg_4 {
	left: 100%;
	top: 500px;
	margin-left: -780px;
	color: #17171A;
	opacity: 0.03;
}
.text-bg_5 {
	bottom: 790px;
	left: -305px;
	color: #17171A;
	opacity: 0.03;
}
.text-bg_6 {
	bottom: -60px;
	left: 100%;
	margin-left: -570px;
	color: #17171A;
	opacity: 0.03;
}
.article {
	padding-bottom: 60px;
}
.breadcumbs {
	padding-top: 29px;
	padding-bottom: 40px;
	font-size: 12px;
	color: rgba(23, 23, 26, 0.4);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
.breadcumbs a {
	color: rgba(23, 23, 26, 0.4);
	transition: all 0.3s;
}
.breadcumbs a:hover {
	color: rgba(23, 23, 26, 1);
}
.breadcumbs span {
	margin: 0 15px;
}
.article__image {
	margin-bottom: 45px;
	display: inline-block;
	position: relative;
}
.article__image img {
	max-width: 100%;
	height: auto;
	display: block;
}
.article .title-section {
	padding-bottom: 34px;
}
.article .title-page {
	padding-bottom: 30px;
}
.item-article__name,
.title-page {
	font-size: 24px;
	line-height: 29px;
	font-weight: 900;
}
.text-page ul li,
.text-page p {
	margin-bottom: 20px;
	line-height: 25px;
	opacity: 0.8;
}
.text-page ul li {
	padding-left: 12px;
	margin-bottom: 10px;
	position: relative;
}
.text-page ul li::before {
	position: absolute;
	display: block;
	content: " ";
	top: 9px;
	left: 0;
	width: 5px;
	height: 5px;
	background-image: url(../img/li.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.text-page ul {
	padding-top: 5px;
	padding-left: 25px;
	padding-bottom: 15px;
}
.item-article {
	padding: 37px 30px;
	min-height: 250px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	display: block;
	background-color: #fff;
	color: #17171A;
	transition: all 0.3s;
}
.item-article:hover {
	box-shadow: 0 5px 10px rgba(23, 23, 26, 0.1);
}
.item-article__date {
	font-size: 12px;
	margin-bottom: 13px;
	opacity: 0.6;
	display: block;
}
.item-article__name {
	display: block;
	margin-bottom: 22px;
}
.item-article__text {
	line-height: 24px;
	opacity: 0.8;
}
.date-article {
	width: 80px;
	height: 90px;
	font-size: 13px;
	line-height: 18px;
	padding-left: 16px;
	letter-spacing: -0.03em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	bottom: 0;
	right: 0;
	color: #fff;
	background-color: #BAA64B;
}
.date-article strong {
	font-size: 21px;
	line-height: 25px;
	font-weight: 900;
	text-transform: uppercase;
	display: block;
}
.contact-line {
	line-height: 23px;
	margin-bottom: 4px;
	display: flex;
	color: rgba(23, 23, 26, 0.8);
}
.contact-line__icon {
	width: 64px;
	margin-right: 4px;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}
.contact-line__content {
	padding: 23px 20px;
	background-color: #fff;
	flex: 1;
	padding-bottom: 21px;
}
.contact-line__content a {
	color: rgba(23, 23, 26, 0.8);
}
.contacts .btn-main {
	margin-top: 36px;
}
.contacts .title-middle {
	margin-top: 50px;
}
.contacts #map {
	width: 1125px;
	height: 640px;
}
.contacts { 
	padding-bottom: 100px;
}
.row_news > div {
	margin-bottom: 60px;
}
.news-page .title-section {
	padding-bottom: 42px;
}
.row_news .col-lg-8  .item-news__content {
	max-width: 370px;
	position: absolute;
	bottom: 0;
	right: 0px;
}
.row_news  .item-news__content {
	padding-top: 34px;
	padding-bottom: 34px;
}
.row_news .col-lg-8 .item-news {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.row_news .col-lg-8 .item-news__image {
	height: inherit;
	flex: 1;
}
.row_news .item-news {
	margin: 0;
	min-height: 100%;
	background-color: #fff;
}
.pager {
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	width: 60px;
	height: 60px;
	margin: 0 2px;
	color: rgba(23, 23, 26, 0.8);
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
a.page-numbers:hover,
.page-numbers.current {
	background-color: #baa64b;
	color: #fff;
}
.news-page {
	padding-bottom: 90px;
}
.btn-main_main {
	background-color: #baa64b;
	color: #fff;
	border-color: #baa64b;
}
.btn-main_main:hover {
	background-color: #a79337;
}
.slider-news .item-news {
	margin-top: 10px;
	margin-bottom: 10px;
}
.breadcumbs-wrap {
	margin-bottom: 35px;	
	border-bottom: 1px solid rgba(23, 23, 26, 0.04);
	background-color: #fafbfd;
	position: relative;
	z-index: 2;
}
.breadcumbs {
	padding: 28px 0;
}
.slider-billbord-image {
	width: 945px;
}
.slider-billbord-image .slick-arrow {
	bottom: 0;
	left: 0;
	border-bottom: 1px solid rgba(23, 23, 26, 0.04);
	border-left: 1px solid rgba(23, 23, 26, 0.04);
}
.slider-billbord-image .slick-prev {
	bottom: 64px;

}
.slider-billbord-image__item {
	height: 620px;
}
.slider-billbord-image__item img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.item-solition {
	position: relative;
	z-index: 1;
}
.item-solition__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.3s;
	opacity: 0;
}
.item-solition__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-solition__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #baa64b;
	opacity: 0.9;
}
.item-solition .link-block {
	opacity: 0;
}
.item-solition:hover {
	transform: none;
}
.item-solition:hover .link-block,
.item-solition:hover .item-solition__image {
	opacity: 1;
}
.apartment {
	padding-bottom: 80px;
}
.link-back {
	color: #17171A;
	opacity: 0.4;
	transition: all 0.3s;
	display: inline-block;
}
.link-back:hover {
	opacity: 1;
}
.link-back i {
	font-size: 10px;
	margin-left: 4px;
}
.apartment__header {
	padding-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.apartment__header .link-back {
	margin-top: 10px;
}
.apartment-block {
	padding-top: 35px;
	padding-bottom: 52px;
	margin-right: -26px;
	position: relative;
	background-color: #fff;
}
.tabs-apartment {
	font-size: 11px;
	margin-bottom: 66px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs-apartment li a {
	color: #3B4658;
	display: block;
	width: 150px;
	padding-bottom: 16px;
	border-bottom: 2px solid #3B4658;
	transition: all 0.3s;
}
.apartment-block__image {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 55px;
}
.apartment-block__image img {
	max-width: 100%;
	height: auto;
}
.btn-tour {
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 900;
	display: inline-flex;
	align-items: center;
	color: #3B4658;
	transition: all 0.3s;
}
.btn-tour img {
	margin-right: 8px;
}
.aling-center {
	text-align: center;
}
.compass {
	top: 35px;
	right: 35px;
	width: 42px;
	height: 44px;
	position: absolute;
}
.compass__icon {
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.direction-compass {
	font-weight: 700;
	color: #3b4658;
	opacity: 0.4;
	position: absolute;
	cursor: pointer;
}
.direction-compass.active {
	color: #baa64b;
	opacity: 1;
}
.direction-compass_c {
	top: -20px;
	left: 15px;
}
.direction-compass_b {
	right: -14px;
	top: 14px;
}
.direction-compass_y {
	bottom: -22px;
	left: 13px;
}
.direction-compass_z {
	left: -14px;
	top: 14px;
}
.direction-compass_b.active ~ .compass__icon {
	transform: rotate(88deg);
}
.direction-compass_y.active ~ .compass__icon {
	transform: rotate(180deg);
}
.direction-compass_z.active ~ .compass__icon {
	transform: rotate(270deg);
}
.icon-apartment {
	width: 56px;
height: 56px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 20px;
border: 1px solid rgba(59, 70, 88, 0.2);
}
.apartment-block__icons {
	top: 30px;
	left: 20px;
	position: absolute;
}
.info-apartment {
	padding: 29px 30px;
	padding-bottom: 27px;
	margin-bottom: 4px;
	color: #17171A;
	display: flex;
	background-color: #fff;
}
.info-apartment span {
	font-size: 12px;
opacity: 0.6;
padding-bottom: 5px;
display: block;
}
.info-apartment > div {
	width: 50%;
}
.info-apartment strong {
	font-size: 24px;
	font-weight: 900;
	white-space: nowrap;
	display: block;
}
.apartment__button {
	padding-top: 26px;
	text-align: right;
}
.apartment__button .btn-main {
	width: 300px;
}

