/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .table_pl {
     padding-left: 0;
 }
 .header-contact__value {
    font-size: 17px;
}
.slider-billbord .slick-arrow {
    right: 475px;
}
.item-solition__name {
    font-size: 22px;
}
.item-solition {
 padding-top: 50px;
 padding-bottom: 30px; 
}
.item-team__name {
    font-size: 21px;
}
.footer p {
	font-size: 14px;
}

.billbord_complex .title-wrap .title-section + .descr-title {
    margin-left: 245px;
}
.billbord_complex .slider-billbord .slick-arrow {
    right: 1023px;
}
.item-doc {
    width: 285px;
    margin-left: 15px;
}
.complex-bottom__item:first-child {
    margin-left: 0;
}
.row_news .item-news__name {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 12px;
}
.row_news .col-lg-8 .item-news__image img {
    width: auto;
}
.row_news .item-news__content {
    padding: 32px 25px;
}
.row_news > div {
    margin-bottom: 35px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .hidden_tablet {
     display: none;
 }
 .header .logo-descr {
     display: none;
 }
 .menu li a {
    height: 59px;
    font-size: 13px;
}
.logo img {
    width: 110px;
}
.header__top {
	padding-top: 10px;
	padding-bottom: 10px;
}
.slider-billbord__image {
	width: 100%;
	height: 400px;
	float: none;
	margin-bottom: 40px;
}
.slider-billbord {
	width: 100%;
	padding-bottom: 90px;
	float: none;
}
.slider-billbord .slick-arrow {
	bottom: 0;
	right: 0;
	background-color: #fff;
}
.slider-billbord .slick-prev {
	right: 65px;
}
.slider-billbord__item .container {
	padding: 0;
}
.slider-billbord__buttons {
	margin-top: 35px;
}
.item-solition {
	min-height: 100%;
}
.item-team {
	padding: 15px;
}
.item-team__name {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 8px;
}
.item-team__image {
    height: 180px;
    margin-bottom: 20px;
}
.item-review {
	padding: 15px;
	margin: 0 15px;
}
.arrows_right {
	margin: 0 -15px;
}
.item-news_big {
    width: 475px;
}
.footer {
	padding-top: 40px;
}
.footer__right {
    text-align: left;
}
.item-news__name {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
}
.item-solition__name {
    font-size: 20px;
}
.header__right {
	text-align: right;
}
.wrapper {
	padding-top: 143px;
}

.billbord_complex .slider-billbord__item .row > div:nth-child(2) {
    order: -2;
}
.billbord_complex .slider-billbord {
    padding-bottom: 0;
}
.billbord_complex .slider-billbord .slick-arrow {
    right: 0;
}
.billbord_complex .slider-billbord .slick-prev {
    right: 64px;
}
.item-location {
    margin-top: 0;
    margin-bottom: 30px;
}
#map {
    width: 100%;
    height: 350px;
}
.complex-bottom__item {
    margin-left: 10px;
}
.complex-bottom__item p {
    margin-left: 11px;
} 
.video {
    height: 400px;
}
.item-doc {
    width: 364px;
}
.billbord_complex .slider-billbord .slick-arrow {
    border-left: none;
}
.about__image {
    margin-bottom: 30px;
}
.row_about {
    margin-top: 70px;
}
.about p:last-child {
    margin-bottom: 0;
}
.col_pull_2,
.col_push_2 {
    left: 0;
    order: -2;
}
.image-about img {
    max-width: 100%;
    height: auto;
}
.block-about {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: auto;
}
.article__image {
    margin-bottom: 30px;
}
.article .title-page {
    padding-bottom: 20px;
}
.article {
    padding-bottom: 40px;
}
.contacts .title-middle {
    margin-top: 0;
}
.contacts #map {
    width: 100%;
    height: 450px;
    margin-top: 30px;
}
.contacts {
    padding-bottom: 60px;
}
.item-team::after {
    display: none;
}
.row_news .col-lg-8 .item-news__image img {
    width: 100%;
}
.row_news .col-lg-8 .item-news__content {
    position: relative; 
}
.row_news .col-lg-8 .item-news__image {
    height: 210px;
}
.row_news .col-lg-8 .item-news {
    display: block;
}
.breadcumbs {
    padding-bottom: 30px;
}

.col_sidebar {
    order: -2;
}
.sidebar-navigation a {
    padding-top: 14px;
    padding-bottom: 14px;
}
.sidebar-navigation a:before {
    top: 14px;
}

.od_tablet {
    order: -1;
}
.slider-billbord-image {
    width: initial;
    margin-bottom: 30px;
}
.slider-billbord-image__item {
    height: 435px;
}
.item-solition .link-block {
    opacity: 1;
}
.apartment-block {
    margin-right: 0;
    margin-bottom: 30px;
}
} 


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .nav {
     display: none;
 }
 .title-section {
    font-size: 30px;
}
.descr-title {
    font-size: 16px;
}
.title-wrap .title-section + .descr-title {
    margin-left: 146px;
}
.title-wrap_section {
    padding-top: 40px;
    padding-bottom: 35px;
}
.slider-billbord__image {
	height: 285px;
	margin-bottom: 30px;
}
.team .title-wrap .title-section + .descr-title {
    margin-left: 245px;
}
.slider-team .slick-prev {
	left: 15px;
}
.slider-team  .slick-next {
	right: auto;
	left: 81px;
}
.slider-team  .slick-arrow {
	bottom: -94px;
}
.item-news_big .item-news__image {
    height: 210px;
}
.item-news_big .item-news__content {
	position: relative;
	right: 0;
}
.item-news {
	width: 290px;
	margin: 0 15px;
}
.slider-news {
	width: initial;
	margin: 0 -15px;
	margin-right: -30px;
}
.item-news__content {
    padding: 23px 15px;
    min-height: 235px;
}
.item-news__name {
    font-size: 17px;
    line-height: 24px;
}
.news {
    padding-bottom: 70px;
}
.footer__bottom {
	margin-top: 30px;
	text-align: center;
}
.footer__bottom .row > div {
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
}
.header .btn-main {
    width: 195px;
    height: 50px;
}
.header__right {
 text-align: right;
}
.logo img {
 width: 95px;
}
.btn_nav {
 margin-left: 15px;
 display: inline-block;
}
.nav {
 position: absolute;
 top: 100%;
 left: 0;
 width: 100%;
 overflow: auto;
 padding-bottom: 100px;
 background-color: #fff;
}
.menu {
 display: block;
}
.menu li a {
    height: 52px;
    font-size: 14px;
    border: none;
    text-align: left;
    color: #3b4658;
    justify-content: flex-start;
    border-right: none !important;
    border-bottom: 1px solid #3b4658;
}
.nav__mob {
 display: block;
 color: #3b4658;
}
.nav__mob .header-contact a,
.nav__mob p a {
   color: #3b4658;
}
.nav__mob .header-contact a {
 border-color: #3b4658;
}
.nav__mob .header-contact {
  margin-top: 15px;
}
.wrapper {
 padding-top: 75px;
}
.header .nav__mob .btn-main {
 margin-top: 15px;
 display: inline-flex;
}
.news .title-wrap .title-section + .descr-title {
    margin-left: 234px;
}
.reviews .title-wrap .title-section + .descr-title {
    margin-left: 189px;
}
.solition .title-wrap .title-section + .descr-title {
    margin-left: 230px;
}

.list-billbord {
    font-size: 16px;
}
.list-billbord li {
    margin-bottom: 15px;
}
.billbord_complex .title-wrap {
    padding-bottom: 25px;
}
.billbord_complex .btn-main {
    margin-top: 20px;
}
.location .title-wrap .title-section + .descr-title {
    margin-left: 229px;
}
#map {
    height: 300px;
}
.location {
    padding-bottom: 60px;
}
.complex .title-wrap .title-section + .descr-title {
    margin-left: 300px;
}
.slider-complex {
    width: inherit;
    margin: 0;
}
.item-complex {
    max-width: 370px;
    margin-top: 70px;
    margin-bottom: 33px;
    margin-left: auto;
    margin-right: auto;
}
.complex-bottom {
    display: block;
}
.complex-bottom__item {
    margin-left: 0;
    margin-bottom: 15px;
}
.complex {
    padding-bottom: 50px;
}
.complex-info {
    width: 210px;
    height: 235px;
    padding: 15px;
}
.complex-info__name {
    font-size: 14px;
    padding-bottom: 9px;
}
.complex-info__price {
    font-size: 17px;
    line-height: 22px;
}
.complex-info img {
    width: 100px;
    margin-top: 12px;
}
.slider-complex .slick-arrow {
    right: auto;
    left: -15px;
}
.slider-complex .slick-prev {
    top: -16px;
}
.slider-complex .slick-next {
    bottom: -113px;
}
.complex-info {
    left: 0;
}
.complex-aparment::after {
    display: none;
}
.video {
    height: 345px;
}
.video-btn__text {
    margin-top: 15px;
}
.item-doc {
    width: 225px;
}
.item-doc__icon {
    width: 88px;
    height: 115px;
    margin-right: 10px;
}
.item-doc__format {
    font-size: 23px;
    padding-top: 17px;
}
.item-doc__icon::after {
    bottom: 10px;
    right: 10px;
}
.item-doc__name {
    font-size: 14px;
}
.item-doc__date {
    font-size: 12px;
    margin-top: 15px;
}
.list-docs__line {
    padding-bottom: 30px;
}
.documents {
    padding-bottom: 60px;
}
.complex-video {
    padding-bottom: 0;
}
.complex-video .title-wrap .title-section + .descr-title {
    margin-left: 325px;
}
.documents .title-wrap .title-section + .descr-title {
    margin-left: 206px;
}
.item-solition__name {
    line-height: 27px;
    margin-bottom: 10px;
}
.about {
    padding-bottom: 60px;
}
.reviews_bottom {
    padding-bottom: 50px;
}
.title-middle {
    font-size: 19px;
    line-height: 26px;
}
.row_about {
    margin-top: 50px;
}
.breadcumbs {
    padding-top: 25px;
    padding-bottom: 25px;
}
.article .title-section {
    padding-bottom: 20px;
}
.article .title-page {
    padding-bottom: 15px;
}
.article__image {
    margin-bottom: 20px;
}
.item-article {
    min-height: auto;
}
.item-article__name,
.title-page {
    font-size: 21px;
}
.item-article__name {
    margin-bottom: 15px;
}
.contacts #map {
    height: 350px;
}
.news-page .title-section {
    padding-bottom: 20px;
}
.row_news .item-news__content {
    padding: 25px 15px;
}
.row_news .item-news {
    width: 100%;
}
.row_news .item-news__content {
    min-height: auto;
}
.news-page {
    padding-bottom: 60px;
}
.breadcumbs-wrap {
    margin-bottom: 23px;
    }
    .privacy .title-page {
        padding-bottom: 20px;
    }
    .privacy {
        padding-bottom: 40px;
    }
    .slider-billbord-image__item {
    height: 285px;
}
.apartment__header {
    padding-bottom: 30px;
    display: block;
}
.apartment__header .link-back {
    margin-top: 15px;
}
.tabs-apartment li a {
    width: 97px;
}
.apartment-block__image {
    width: 330px;
    margin-bottom: 30px;
    }
    .icon-apartment {
        margin-bottom: 10px;
    }
    .tabs-apartment {
        margin-bottom: 45px;
    }
    .apartment-block__icons {
    top: 25px;
    left: 10px;
}
.apartment-block {
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.apartment__button {
    text-align: left;
}
.apartment {
    padding-bottom: 60px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .title-section {
        font-size: 21px;
        line-height: 24px;
    }
    .descr-title {
        font-size: 14px;
        line-height: 21px;
    }
    .title-wrap .title-section + .descr-title {
     margin-left: 0 !important;
 }
 .slider-billbord__image {
    height: 205px;
    margin-bottom: 20px;
}
.slider-billbord__title {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 15px;
    margin-bottom: 19px;
}
.item-feature {
	font-size: 14px;
 padding: 18px 10px;
 padding-bottom: 15px;
}
.slider-billbord__buttons .btn-main {
	margin: 0 5px;
}
.slider-billbord__buttons {
	margin: 0 -5px;
}
.item-solition {
	padding: 25px 15px;
}
.item-solition__name {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 15px;
}
.item-solition p {
	font-size: 14px;
	line-height: 21px;
}
.team .title-wrap .title-section + .descr-title {
	margin-left: 0;
}
.item-team {
	margin: 0 5px;
}
.item-team,
.item-review,
.item-solition {
    transform: none !important;
}
.slider-team {
	margin: 0 -5px;
}
.item-team__name {
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 7px;
}
body {
	font-size: 14px;
}
.item-team__image {
    height: 135px;
    margin-bottom: 10px;
}
.item-team {
	padding: 10px;
}
.team__bottom {
    padding-top: 100px;
    text-align: center;
}
.slider-team .slick-arrow {
    bottom: -84px;
}
.slider-team .slick-arrow {
    bottom: -84px;
}
.slider-team .slick-next {
	left: 71px;
}
.team {
    padding-bottom: 50px;
}
.item-review__name {
    font-size: 17px;
}
.item-review__image {
	margin-right: 10px;
}
.item-review__head {
	margin-bottom: 15px;
}
.footer .row {
	margin: 0 -5px;
}
.footer .row > div {
	padding: 0 5px;
}
.footer-nav a, .title-footer {
	font-size: 13px;
	margin-bottom: 18px;
}
.news {
	padding-bottom: 40px;
}
.footer__bottom .row > div {
	padding-top: 10px;
	padding-bottom: 10px;
}
.header .btn-main {
	display: none;
}
.phone-mob {
	display: inline-block;
	color: #3b4658;
	font-size: 18px;
	position: relative;
	top: 3px;
}
.footer-list li {
    margin-bottom: 17px;
}
.footer__bottom {
    padding-top: 10px;
}
.lines-wrap__item {
    left: 25%;
}
.lines-wrap__item:nth-child(2) {
    left: 50%;
}
.lines-wrap__item:nth-child(3) {
    left: 75%;
}
.lines-wrap__item:nth-child(n+4) {
    display: none;
}
.footer__row > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.title-footer_mob {
    display: flex;
}
.title-footer {
    padding: 15px 0px;
    margin: 0;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content {
    display: none;
}
.title-footer i {
    display: inline-block;
    transition: all 0.3s;
}
.title-footer.active i {
    transform: rotate(45deg);
}
.footer-content {
    padding-top: 15px;
}
.footer {
    padding-top: 24px;
}
.billbord_complex .slider-billbord {
    padding-bottom: 90px;
}
.location .title-wrap_section {
    padding-top: 20px;
}
.item-location__name {
    font-size: 18px;
    padding-bottom: 10px;
}
.item-location p {
    line-height: 21px;
}
#map {
    height: 270px;
}
.item-complex__value, .complex-aparment {
    width: 37px;
    height: 31px;
}
.slider-complex .slick-arrow {
    right: 0;
    top: 120%;
    left: auto;
}
.complex-bottom {
    padding-right: 70px;
}
.complex {
    padding-bottom: 40px;
}
.list-docs {
    margin-right: -15px;
}
.row_solition > div {
    margin-bottom: 25px;
}
.item-complex__value {
    margin-left: 0;
}
.item-complex {
    max-width: 297px;
}
.title-middle br {
    display: none;
}
.title-middle {
    font-size: 17px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.about__image {
    margin-bottom: 20px;
}
.about p {
    line-height: 22px;
    margin-bottom: 15px;
}
.block-about {
    padding: 20px 20px;
}
.date-article {
    width: 67px;
    height: 66px;
    font-size: 11px;
    line-height: 14px;
    padding-left: 10px;
}
.date-article strong {
    font-size: 18px;
    line-height: 18px;
}
.item-article__name, .title-page {
    font-size: 17px;
    line-height: 23px;
}
.text-page ul li, .text-page p {
    margin-bottom: 15px;
    line-height: 22px;
}
.text-page ul {
    padding-left: 0;
}
.text-page ul li {
    margin-bottom: 7px;
}
.item-article {
    padding: 20px;
}
.contact-line__content {
    padding: 15px 13px;
    line-height: 21px;
}
.contacts #map {
    height: 300px;
}
.contacts .align_right {
    text-align: center;
}
.contacts .btn-main {
    margin-top: 20px;
}
.row_news .item-news__name {
    font-size: 17px;
    margin-bottom: 9px;
}
.row_news .item-news__text {
    font-size: 14px;
    line-height: 23px;
    }
    .row_news > div {
    margin-bottom: 25px;
}
.item-news__data {
    margin-bottom: 10px;
}
.page-numbers {
    width: 48px;
    height: 48px;
    }
    .breadcumbs {
        padding: 20px 0;
    }
    .privacy p {
    line-height: 21px;
    margin-bottom: 15px;
}
.privacy .title-page {
    padding-top: 10px;
    }
    .slider-billbord-image {
        margin-bottom: 80px;
    }
    .slider-billbord-image .slick-arrow {
        bottom: -64px;
    }
    .slider-billbord-image .slick-next {
        left: 64px;
            border-right: 1px solid rgba(23, 23, 26, 0.04);
    }
    .slider-billbord-image__item {
    height: 245px;
}
.apartment-block {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
}
.apartment-block__icons {
    display: flex;
}
.apartment-block__image {
    max-width: 100%;
}
.icon-apartment {
    margin-right: 10px;
    margin-bottom: 0;
}
.info-apartment {
    padding: 20px 15px;
}
.info-apartment strong {
    font-size: 20px;
    }
} 

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .footer-content {
        display: block !important;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .nav {
     display: block !important;
     height: auto !important;
 }
 .header.fixed  .menu li a {
    height: 60px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 1600px) {
	.container {
        max-width: 1200px;
    }
}